<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L'Aventure Nordique</title>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    {% include './components/header.html' %}

    <main>
        <div class="main-container">
            <div class="accueil-top">
                <div class="accueil-top-text">
                    {% if data.user.connecte %}
                    <span class="welcome-user">Bonjour, {{data.user.prenom}}!</span>
                    {% else %}
                    <span class="welcome-user">Bonjour, cher client!</span>
                    {% endif %}
                    <span class="welcome-text">Depuis 2007, L'Aventure Nordique vous offre la plus vaste gamme de produits de chasse, de pêche, de randonnée, et bien plus!</span>
                </div>
                <img class="accueil-top-img" src="../static/public/images/accueil.jpg"/>
            </div>

            <div class="search">
                <div class="nos-produits">
                    <span class="nos-produits-title">Nos produits</span>
                </div>

                <div class="recherche">
                    <img class="loupe-icon" src="../static/public/images/loupe.png"/>
                    <input oninput="filtreProduits()" id="input-recherche-produits" class="recherche-input" placeholder="Rechercher un produit" type="text"/>
                </div>
            </div>

            <div class="categories">
                {% for categorie in data.categories %}
                    <span id={{categorie[0]}} onclick=ajouteCategorie(this) class="categories-cat">{{categorie[0]}}</span>
                {% endfor %}
            </div>

            <div id="aucun-item" class="aucun-item display-none">Aucun item ne correspond à votre recherche</div>

            <div class="produits">
                {% for produit in data.tousProduits %}
                    <div id="produit-{{produit[0]}}" class="produit">
                        <div class="produit-img-container">
                            <img class="produit-img" src="{{produit[5]}}"/>
                        </div>
                        <div class="produit-info">
                            <div class="produit-all-info">
                                <span class="produit-category">{{produit[6]}}</span>
                                <span id="produit-{{produit[0]}}nom" class="produit-nom">{{produit[1]}}</span>
                                <span class="price">{{produit[2]}}$</span>
                                <span class="desc">{{produit[4]}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="modale" class="modale">
                <button onclick="closeModale()">X</button>
                {% if data.user.connecte %}
                <span class="selection" id="selection"></span>
                <form method="post">
                    <button type="submit" class="button-ajout-panier">
                        Ajouter à mon panier
                    </button>
                </form>
                <form method="post">
                    <button type="submit" class="button-ajout-liste">
                        Ajouter à mes souhaits
                    </button>
                </form>
                {% else %}
                <span>Connectez-vous pour ajouter des produits à votre panier ou votre liste de souhaits.</span>
                {% endif %}
            </div>
        </div>
    </main>

    {% include './components/footer.html' %}
</body>
</html>

<script src="../static/js/index.js"></script>