<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L'Aventure Nordique</title>
    <link rel="stylesheet" href="../static/css/mon-compte.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
    {% include './components/header.html' %}
    {% include './components/message.html' %}

    <main>
        <div class="main-container">

            {% if data.user.connecte %}
            <div>
                <div class="user-info">
                    <span class="user-name">{{data.user.nom_famille}}, {{data.user.prenom}}</span>
                    <img class="user-img" src="../static/public/images/user_compte.png"/>
                </div>

                <div class="adresse-change">
                    {% if data.user.adresse %}
                    <span>Adresse en cours d'utilisation: {{data.user.adresse}}</span>
                    {% else %}
                    <span>Aucune adresse en cours d'utilisation.</span>
                    {% endif %}
                    <form method="post" action="/modification-adresse">
                        <label for="adresse">Changer l'adresse de livraison</label>
                        <input placeholder="3344 rue Alameda, Quebec" id="adresse" name="adresse"/>
                        <button type="submit">Soumettre la nouvelle adresse</button>
                    </form>
                </div>

                <div class="historique">
                    <div class="historique-titre">
                        <span>Historique de mes commandes</span>
                        <div>Total: {{data.nombreCommandes}}</div>
                    </div>
                    {% if data.nombreCommandes == 0 %}
                    <span class="produit-none">Vous n'avez jamais passé de commandes.</span>
                    {% endif %}
                    <div class="historique-list">
                        {% for commande in data.commandesClient %}
                            <div class="commande">
                                <div class="produit-img-container">
                                    <img class="produit-img" src="{{commande[6]}}"/>
                                </div>
                                <div class="produit-info">
                                    <div class="status">
                                        <span class="produit-title">{{commande[0]}}</span>
                                        {% if commande[4] == 0 %}
                                        <span class="produit-status" style="color: orangered">En livraison</span>
                                        {% else %}
                                        <span class="produit-status" style="color: green">Livré</span>
                                        {% endif %}
                                    </div>
                                    <div class="jc produit-quantite">
                                        <span>Quantité commandée: </span>
                                        <span>{{commande[5]}}</span>
                                    </div>
                                    <div class="jc produit-prix-total">
                                        <span>Prix total: </span>
                                        <span>{{commande[1]}}$</span>
                                    </div>
                                    <div class="jc produit-date1">
                                        <span>Date de la commande: </span>
                                        <span>{{commande[2]}}</span>
                                    </div>
                                    {% if commande[4] == 0 %}
                                    <div class="jc produit-date2">
                                        <span>Date de livraison prévue: </span>
                                        <span>{{commande[3]}}</span>
                                    </div>
                                    {% else %}
                                    <div class="jc produit-date2">
                                        <span>Date livré: </span>
                                        <span>{{commande[3]}}</span>
                                    </div>
                                    {% endif %}
                                    {% if commande[7] %}
                                    <div class="jc produit-date2">
                                        <span>Livreur:</span>
                                        <span>{{commande[7]}}</span>
                                    </div>
                                    {% else %}
                                    <div class="jc produit-date2">
                                        <span>Livreur:</span>
                                        <span>information indisponible</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% else %}


            {% endif %}
        </div>
    </main>

    {% include './components/footer.html' %}
</body>
</html>