main {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px - 300px);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connexion {
    font-size: 30px;
    font-weight: bold;
    font-family: Wotfard-Medium;
}

.deja-connecte {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0 100px 0;
}

.produit {
    border-radius: 10px;
    box-shadow: 1px 5px 15px -8px rgba(0,0,0,0.38);
    background-color: #e5e3e3;
    width: 200px;
    margin: 20px;
    position: relative;
}

@media screen
and (max-width: 700px) {
    .deja-connecte {
        grid-template-columns: repeat(1, 1fr);
    }
}

form boutton {
    position: absolute;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    right: 5px;
    cursor: pointer;
    top: 5px;
}

.produit-img {
    width: 100%;
    overflow: hidden;
    background-size: contain;
}

.produit-img-container {
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    overflow: hidden;
    height: 300px;
}

.center {
    font-family: Wotfard-Regular;
    font-size: 16px;
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 100px;
    font-family: Wotfard-Bold;
    font-size: 30px;
}

.vide {
    font-size: 18px;
    font-family: Wotfard-Regular;
}