.msg-flex {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 10px;
    top: 60px;
    justify-content: space-between;
    font-family: Wotfard-Regular;
    z-index: 100000;
}

.msg-erreur {
    width: 300px;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    opacity: 1;
    padding: 15px;
    transition: opacity .2s;
    background-color: #ea3b3b;
}

.msg-succes {
    opacity: 1;
    transition: opacity .2s;
    border: 2px solid black;
    width: 300px;
    border-radius: 10px;
    background-color: #4be04b;
    padding: 15px;
}

.fadeout {
    opacity: 0 !important;
}